html {
  height: 100%;
}

body {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#control-panel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.control {
  display: block;
  position: relative;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 36px 18px;
}

.control:first-child {
  margin-bottom: 18px;
}

.control:last-child {
  margin-top: 18px;
}

.title {
  display: flex;
  position: relative;
  flex-direction: row;
  align-content: center;
  font-size: 16px;
  user-select: none;
}

.title-icon {
  margin-right: 6px;
  line-height: 16px;
}

.title-text {
  line-height: 16px;
  vertical-align: middle;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.content-list {
  display: flex;
  position: relative;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  flex-direction: column;
}

.content {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: 8px;
  padding-left: 10px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.content-button {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  margin: 0 4px;
  transition: background-color 250ms ease, box-shadow 250ms ease, font-size 250ms ease;
  user-select: none;
}

.content-button:hover {
  font-size: 16px;
  background-color: gainsboro;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

#auto-iterate-button.pressed {
  font-size: 16px;
  background-color: gainsboro;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4);
}

.content-text {
  display: inline-block;
  position: relative;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  margin: 0 4px;
  cursor: pointer;
  user-select: none;
  pointer-events: none;
}

.content.selected > .content-text {
  color: blue;
  font-weight: bold;
}

.selected-text {
  color: blue;
  font-weight: bold;
}

.content-number {
  width: 24px;
}

.content-radio-button {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 250ms ease;
  pointer-events: none;
}

.content:hover > .content-radio-button {
  background-color: gainsboro;
}

.entry {
  cursor: pointer;
}

#selected-list > .content-text {
  text-align: start;
  margin-left: 20px;
  margin-top: 4px;
}

.mapboxgl-ctrl-bottom-left {
  left: 210px;
}
